:root { --main-color: #a9d3c9; --bg-color: #c7d7d4; --dark-color: #3e8b79; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

li { list-style: none; }

body { font-size: 14px; color: #333; line-height: 1.5; }

#viewFrame { width: 100vw; height: 100vh; overflow: hidden; position: relative; }

#viewFrame .albums { -webkit-transition: 1s; transition: 1s; }

#viewFrame .albums img { width: 500px; }

#viewFrame .albums.falling { width: 100vw; height: 500px; position: absolute; top: -500px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#viewFrame .albums.falling img { position: absolute; left: 50%; bottom: 50vh; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#viewFrame .albums.fall { height: calc(100vh + 1000px); }

#viewFrame #album1 { background-color: #6c6b78; z-index: 1; }

#viewFrame #album2 { background-color: #b8a072; z-index: 2; }

#viewFrame #album3 { background-color: #fefcff; z-index: 3; }

#viewFrame #album4 { background-color: #040001; z-index: 4; }

#viewFrame #album5 { background-color: #ffffff; z-index: 5; }

#viewFrame #album6 { background-color: #fa959f; z-index: 6; }

#viewFrame #album7 { background-color: #00fd00; z-index: 7; }

#viewFrame #album8 { background-color: #acc1b2; z-index: 8; }

#viewFrame #album9 { background-color: #cecece; z-index: 9; }

#viewFrame #album10 { background-color: #2f2f2f; z-index: 10; }

#viewFrame #album11 { position: absolute; top: 0; left: 0; background-color: #c7d7d4; width: 100vw; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 0; z-index: 11; -webkit-transition: 2s; transition: 2s; -webkit-transition-delay: 1s; transition-delay: 1s; }

#viewFrame #album11.on { opacity: 1; }

#viewFrame #album11 > div { width: 500px; height: 500px; position: relative; }

#viewFrame #album11 > div .albumLogo { width: 400px; position: absolute; top: -150px; left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#viewFrame #album11 > div a { position: absolute; bottom: -100px; left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); font-size: 20px; }

#viewFrame #album11 img { max-width: 500px; max-height: 500px; }

#wrap { background-color: var(--bg-color); min-height: 100vh; }

#wrap #openNav { height: 100px; width: 100%; position: fixed; z-index: 9; }

#wrap .innerCon { max-width: 1100px; min-width: 1100px; margin: 0 auto; }

#wrap #toTheTop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 80px; height: 80px; border-radius: 40px; background-color: var(--main-color); position: fixed; bottom: 40px; right: 100px; font-size: 20px; opacity: 0.8; cursor: pointer; z-index: 10; }

#wrap header { width: 100vw; height: 120px; position: fixed; top: 0; left: 0; z-index: 10; -webkit-transition: 0.2s; transition: 0.2s; background-color: var(--bg-color); }

#wrap header > div { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap header > div .headerNav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap header > div .headerNav li { padding: 0 30px; font-size: 20px; }

#wrap header.off { top: -120px; }

#wrap .section { width: 100%; height: 100vh; position: relative; padding: 120px 0; background-color: var(--bg-color); }

#wrap .section > div { height: 100%; }

#wrap .section .anchor { position: absolute; top: 0; left: 0; }

#wrap .section .sectionTitle { font-size: 30px; margin-bottom: 40px; }

#wrap #epikhighInfo > div { padding: 0; }

#wrap #epikhighInfo .infoArea { width: 100%; height: 80%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) { width: 65%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table { width: 80%; height: 100%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table .snsIcon { width: 20px; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child { height: 30%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child td { border: none; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child img { width: 200px; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr th { background-color: var(--main-color); border: 1px solid var(--main-color); }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr td { border-bottom: 1px solid #ccc; text-align: center; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(2) { width: 35%; height: 100%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(2) .profilePic { width: 100%; height: 100%; background-image: url(/images/epikhigh1.jpg); background-position: center 100%; background-size: cover; }

#wrap #discography { position: relative; padding: 0 0; overflow: hidden; }

#wrap #discography .chronoArea { width: 400px; height: 65vh; min-height: 455px; overflow: hidden; position: absolute; border-radius: 20px; top: 50vh; left: 10vw; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: rgba(255, 255, 255, 0.6); z-index: 2; }

#wrap #discography .chronoArea .sectionTitle { background-color: var(--dark-color); color: #fff; margin: 0; text-align: center; height: 5vh; line-height: 5vh; min-height: 35px; }

#wrap #discography .chronoArea #chronology { height: 60vh; min-height: 420px; width: 360px; margin: 0 auto; }

#wrap #discography .chronoArea #chronology::before { content: ''; display: block; width: 1px; height: 60vh; min-height: 420px; background-color: var(--dark-color); position: absolute; top: 50%; left: 40px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#wrap #discography .chronoArea #chronology li { height: calc(100% / 11); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 40px; position: relative; cursor: pointer; }

#wrap #discography .chronoArea #chronology li span { margin: 0 10px; }

#wrap #discography .chronoArea #chronology li span.circle { display: block; width: 20px; height: 20px; border-radius: 10px; background-color: var(--dark-color); -webkit-transition: 0.2s; transition: 0.2s; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#wrap #discography .chronoArea #chronology li span.release { position: relative; z-index: 2; }

#wrap #discography .chronoArea #chronology li span.a_title { font-weight: bold; }

#wrap #discography .chronoArea #chronology li:hover .circle, #wrap #discography .chronoArea #chronology li.on .circle { width: 80px; height: 25px; }

#wrap #discography .chronoArea #chronology li:hover .release, #wrap #discography .chronoArea #chronology li.on .release { color: #fff; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

#wrap #discography #discBgs { width: 1100%; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: hidden; -ms-flex-wrap: nowrap; flex-wrap: nowrap; z-index: 1; }

#wrap #discography #discBgs .discBg { width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; -webkit-transition: 1s; transition: 1s; }

#wrap #discography #discBgs .discBg img { position: absolute; width: 300px; height: 300px; bottom: 150px; right: 250px; }

#wrap #discography #discBgs .discBg:nth-child(1) { background-image: url(/images/bg1.jpg); }

#wrap #discography #discBgs .discBg:nth-child(2) { background-image: url(/images/bg2.jpg); }

#wrap #discography #discBgs .discBg:nth-child(3) { background-image: url(/images/bg3.jpg); }

#wrap #discography #discBgs .discBg:nth-child(4) { background-color: black; }

#wrap #discography #discBgs .discBg:nth-child(5) { background-color: white; }

#wrap #discography #discBgs .discBg:nth-child(6) { background-image: url(/images/bg6.jpg); }

#wrap #discography #discBgs .discBg:nth-child(7) { background-image: url(/images/bg7.jpg); }

#wrap #discography #discBgs .discBg:nth-child(8) { background-image: url(/images/bg8.jpg); }

#wrap #discography #discBgs .discBg:nth-child(9) { background-image: url(/images/bg9.jpg); }

#wrap #discography #discBgs .discBg:nth-child(10) { background-image: url(/images/bg10.jpg); }

#wrap #discography #discBgs .discBg:nth-child(11) { background-color: transparent; }

#wrap #discography #discBgs .discBg:nth-child(11) > div { background-image: url(/images/albumlogo.jpg); background-position: center center; background-repeat: no-repeat; }

#wrap #songs .songFrame { height: 80%; position: relative; }

#wrap #songs .songFrame button { background-color: transparent; border: none; color: #fff; opacity: 0.5; position: absolute; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; }

#wrap #songs .songFrame button i { font-size: 20px; }

#wrap #songs .songFrame button.prevBtn { left: -50px; }

#wrap #songs .songFrame button.nextBtn { right: -50px; }

#wrap #songs .songFrame button.off { display: none; }

#wrap #songs .songFrame .songInfoArea { width: 100%; height: 100%; overflow: hidden; position: relative; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: 0.2s; transition: 0.2s; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .musicTitle { background-color: var(--dark-color); color: #fff; padding: 0 20px; position: relative; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .musicTitle span { position: absolute; top: -1px; right: -1px; display: block; width: 0; height: 0; border-top: 15px solid var(--bg-color); border-right: 0px solid transparent; border-left: 15px solid transparent; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .videoArea { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .lyricArea { overflow: auto; background-color: #ccc; height: 405px; width: 380px; padding: 10px 20px; }

#wrap #shop ul { width: 400px; height: 80%; margin: 0 auto; }

#wrap #shop ul li { height: 10%; width: 100%; border-bottom: 1px solid var(--dark-color); -webkit-transition: 0.2s; transition: 0.2s; padding: 0 50px; }

#wrap #shop ul li:hover { background-color: var(--main-color); font-weight: bolder; }

#wrap #shop ul li a { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #shop ul li a img { width: 50px; }

#wrap #shop ul li a span { width: 150px; font-size: 15px; }

#wrap #shop ul li.yt a { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (max-width: 480px) { .albums { width: 100vw; }
  .albums.falling { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
  .albums.falling img { bottom: 0; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); } }
