:root { --main-color: #a9d3c9; --bg-color: #c7d7d4; --dark-color: #3e8b79; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

li { list-style: none; }

body { font-size: 14px; color: #333; line-height: 1.5; }

#wrap { background-color: var(--bg-color); min-height: 100vh; }

#wrap #openNav { height: 100px; width: 100%; position: fixed; z-index: 9; }

#wrap .innerCon { max-width: 1100px; min-width: 1100px; margin: 0 auto; }

#wrap #toTheTop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 80px; height: 80px; border-radius: 40px; background-color: var(--main-color); position: fixed; bottom: 40px; right: 100px; font-size: 20px; opacity: 0.8; cursor: pointer; z-index: 10; }

#wrap #toTheTop i { position: absolute; top: 4px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); font-size: 30px; color: var(--dark-color); }

@-webkit-keyframes upNdown { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  50% { -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }

@keyframes upNdown { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  50% { -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }

#wrap .scrollDown { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; bottom: 20px; left: 50%; z-index: 10; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#wrap .scrollDown span { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-name: upNdown; animation-name: upNdown; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

#wrap header { width: 100vw; height: 120px; position: fixed; top: 0; left: 0; z-index: 10; -webkit-transition: 0.2s; transition: 0.2s; background-color: var(--bg-color); }

#wrap header .innerCon { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap header .innerCon .mainLogo { height: 60%; }

#wrap header .innerCon .mainLogo a img { height: 100%; }

#wrap header .innerCon .headerNav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap header .innerCon .headerNav li { padding: 0 30px; font-size: 20px; }

#wrap header.off { top: -120px; }

#wrap .section { width: 100%; height: 100vh; position: relative; padding: 120px 0; background-color: var(--bg-color); }

#wrap .section > div { height: 100%; }

#wrap .section .anchor { position: absolute; top: 0; left: 0; }

#wrap .section .sectionTitle { font-size: 30px; }

#wrap #epikhighInfo > div { padding: 0; }

#wrap #epikhighInfo .infoArea { width: 100%; height: 80%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) { width: 65%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table { width: 80%; height: 100%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table .snsIcon { width: 20px; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child { height: 30%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child td { border: none; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr:first-child img { width: 200px; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr th { background-color: var(--main-color); border: 1px solid var(--main-color); }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(1) table tr td { border-bottom: 1px solid #ccc; text-align: center; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(2) { width: 35%; height: 100%; }

#wrap #epikhighInfo .infoArea .halfArea:nth-child(2) .profilePic { width: 100%; height: 100%; background-image: url(/images/epikhigh1.jpg); background-position: center 100%; background-size: cover; }

#wrap #discography { position: relative; padding: 0 0; overflow: hidden; }

#wrap #discography .chronoArea { width: 400px; height: 65vh; min-height: 455px; overflow: hidden; position: absolute; border-radius: 20px; top: 50vh; left: 10vw; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: rgba(255, 255, 255, 0.6); z-index: 2; }

#wrap #discography .chronoArea .sectionTitle { background-color: var(--dark-color); color: #fff; margin: 0; text-align: center; height: 5vh; line-height: 5vh; min-height: 35px; }

#wrap #discography .chronoArea #chronology { height: 60vh; min-height: 420px; width: 360px; margin: 0 auto; }

#wrap #discography .chronoArea #chronology::before { content: ''; display: block; width: 1px; height: 60vh; min-height: 420px; background-color: var(--dark-color); position: absolute; top: 50%; left: 40px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#wrap #discography .chronoArea #chronology li { height: calc(100% / 11); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 40px; position: relative; cursor: pointer; }

#wrap #discography .chronoArea #chronology li span { margin: 0 10px; }

#wrap #discography .chronoArea #chronology li span.circle { display: block; width: 20px; height: 20px; border-radius: 10px; background-color: var(--dark-color); -webkit-transition: 0.2s; transition: 0.2s; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#wrap #discography .chronoArea #chronology li span.release { position: relative; z-index: 2; }

#wrap #discography .chronoArea #chronology li span.a_title { font-weight: bold; }

#wrap #discography .chronoArea #chronology li:hover .circle, #wrap #discography .chronoArea #chronology li.on .circle { width: 80px; height: 25px; }

#wrap #discography .chronoArea #chronology li:hover .release, #wrap #discography .chronoArea #chronology li.on .release { color: #fff; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

#wrap #discography #discBgs { width: 1100%; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: hidden; -ms-flex-wrap: nowrap; flex-wrap: nowrap; z-index: 1; }

#wrap #discography #discBgs .discBg { width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; -webkit-transition: 1s; transition: 1s; }

#wrap #discography #discBgs .discBg img { position: absolute; width: 300px; height: 300px; bottom: 150px; right: 250px; }

#wrap #discography #discBgs .discBg:nth-child(1) { background-image: url(/images/bg1.jpg); }

#wrap #discography #discBgs .discBg:nth-child(2) { background-image: url(/images/bg2.jpg); }

#wrap #discography #discBgs .discBg:nth-child(3) { background-image: url(/images/bg3.jpg); }

#wrap #discography #discBgs .discBg:nth-child(4) { background-color: black; }

#wrap #discography #discBgs .discBg:nth-child(5) { background-color: white; }

#wrap #discography #discBgs .discBg:nth-child(6) { background-image: url(/images/bg6.jpg); }

#wrap #discography #discBgs .discBg:nth-child(7) { background-image: url(/images/bg7.jpg); }

#wrap #discography #discBgs .discBg:nth-child(8) { background-image: url(/images/bg8.jpg); }

#wrap #discography #discBgs .discBg:nth-child(9) { background-image: url(/images/bg9.jpg); }

#wrap #discography #discBgs .discBg:nth-child(10) { background-image: url(/images/bg10.jpg); }

#wrap #discography #discBgs .discBg:nth-child(11) { background-color: transparent; }

#wrap #discography #discBgs .discBg:nth-child(11) > div { background-image: url(/images/albumlogo.jpg); background-position: center center; background-repeat: no-repeat; }

#wrap #songs .songFrame { height: 80%; position: relative; }

#wrap #songs .songFrame button { background-color: transparent; border: none; color: #fff; opacity: 0.5; position: absolute; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; }

#wrap #songs .songFrame button i { font-size: 20px; }

#wrap #songs .songFrame button.prevBtn { left: -50px; }

#wrap #songs .songFrame button.nextBtn { right: -50px; }

#wrap #songs .songFrame button.off { display: none; }

#wrap #songs .songFrame .songInfoArea { width: 100%; height: 100%; overflow: hidden; position: relative; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: 0.2s; transition: 0.2s; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .musicTitle { background-color: var(--dark-color); color: #fff; padding: 0 20px; position: relative; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .musicTitle span { position: absolute; top: -1px; right: -1px; display: block; width: 0; height: 0; border-top: 15px solid var(--bg-color); border-right: 0px solid transparent; border-left: 15px solid transparent; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .videoArea { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .videoArea iframe { width: 720px; height: 405px; }

#wrap #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .lyricArea { overflow: auto; background-color: #ccc; height: 405px; width: 380px; padding: 10px 20px; }

#wrap #shop ul { width: 400px; height: 80%; margin: 0 auto; }

#wrap #shop ul li { height: 10%; width: 100%; border-bottom: 1px solid var(--dark-color); -webkit-transition: 0.2s; transition: 0.2s; padding: 0 50px; }

#wrap #shop ul li:hover { background-color: var(--main-color); font-weight: bolder; }

#wrap #shop ul li a { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #shop ul li a img { width: 50px; }

#wrap #shop ul li a span { width: 150px; font-size: 15px; }

#wrap #shop ul li.yt a { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 1025px) { .mobile { display: none; }
  .sectionTitle { margin-bottom: 40px; } }

@media (max-width: 480px) { #wrap #openNav { display: none; }
  #wrap #toTheTop { background-color: transparent; width: inherit; height: inherit; bottom: 40px; right: 40px; font-size: 14px; }
  #wrap #toTheTop i { top: -20px; color: #333; font-size: inherit; }
  #wrap .innerCon { max-width: 480px; min-width: 0; }
  #wrap .scrollDown { display: none; }
  #wrap header { overflow: hidden; -webkit-transition: 0.5s; transition: 0.5s; }
  #wrap header .innerCon { display: block; position: relative; }
  #wrap header .mainLogo { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  #wrap header .navArea { position: fixed; width: 80vw; height: 100vh; background-color: #fff; top: 0; right: -80vw; z-index: 30; -webkit-transition: 0.5s; transition: 0.5s; }
  #wrap header .navArea.on { right: 0; }
  #wrap header .navArea .navTitle { text-align: center; padding: 40px 0; }
  #wrap header .navArea .headerNav { width: 70%; margin: 0 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #wrap header .navArea .headerNav li { margin: 12px 0; }
  #wrap header .toggle { width: 40px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: fixed; top: 60px; right: 0; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: 0.5s; transition: 0.5s; cursor: pointer; }
  #wrap header .toggle span { display: block; width: 80%; height: 3px; background-color: var(--dark-color); -webkit-transition: 0.5s; transition: 0.5s; }
  #wrap header .toggle.on { right: 80vw; }
  #wrap header .toggle.on span:nth-child(1) { -webkit-transform: skewY(45deg) translateY(10px); transform: skewY(45deg) translateY(10px); }
  #wrap header .toggle.on span:nth-child(2) { width: 0; }
  #wrap header .toggle.on span:nth-child(3) { -webkit-transform: skewY(-45deg) translateY(-10px); transform: skewY(-45deg) translateY(-10px); }
  #wrap #content .section:not(#epikhighInfo) { padding: 0; }
  #wrap #content .section .sectionTitle { text-align: center; padding: 20px; }
  #wrap #content #epikhighInfo .infoArea { height: 80%; }
  #wrap #content #epikhighInfo .infoArea .halfArea:nth-child(1) { width: 100%; }
  #wrap #content #epikhighInfo .infoArea .halfArea:nth-child(1) table { margin: 0 auto; }
  #wrap #content #epikhighInfo .infoArea .halfArea:nth-child(1) table tbody tr:first-child { background-image: url(/images/epikhigh1.jpg); background-position: center 30%; background-size: cover; background-repeat: no-repeat; height: 50%; }
  #wrap #content #epikhighInfo .infoArea .halfArea:nth-child(1) table tbody tr:first-child img { display: none; }
  #wrap #content #epikhighInfo .infoArea .halfArea:nth-child(2) { display: none; }
  #wrap #content #discography .sectionTitle { padding: 0; }
  #wrap #content #discography .chronoArea { left: 50vw; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90vw; }
  #wrap #content #discography .chronoArea #chronology { width: 85vw; }
  #wrap #content #discography .chronoArea #chronology::before { left: 30px; }
  #wrap #content #discography .chronoArea #chronology li .a_title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  #wrap #content #discography #discBgs img { display: none; }
  #wrap #content #songs .sectionTitle { line-height: 120px; padding: 0; }
  #wrap #content #songs .songFrame { height: inherit; }
  #wrap #content #songs .songFrame > button { display: none; }
  #wrap #content #songs .songFrame .songInfoArea .songInfoGroup { top: 0; left: 0; -webkit-transform: translateY(0); transform: translateY(0); }
  #wrap #content #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr { display: block; }
  #wrap #content #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .videoArea iframe { width: 100vw; height: calc(100vw * 405 / 720); }
  #wrap #content #songs .songFrame .songInfoArea .songInfoGroup .songInfo .vidNlyr .lyricArea { width: 100vw; height: inherit; }
  #wrap #content #shop .sectionTitle { line-height: 120px; padding: 0; }
  #wrap #content #shop .innerCon { position: relative; }
  #wrap #content #shop .innerCon ul { width: 100vw; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } }
